<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/opt/strolch/plc/temp/plc.log</file>
		<append>true</append>
		<immediateFlush>true</immediateFlush>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>/opt/strolch/plc/temp/plc-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>10MB</maxFileSize>
			<maxHistory>30</maxHistory>
			<totalSizeCap>2GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%d [%thread] %-5level %class{36}:%line %method - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="FILE" />
	</root>

</configuration>


